<header>
    <a href="/">
        <div class="logo_container">
            <h1 class="logo">Bloggers</h1>
            <h4 class="title">
                <%= title %>
            </h4>
        </div>
    </a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/blogs/create">Create</a></li>
        </ul>
    </nav>
</header>