<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header.ejs')%>

    <main>
        <h2>Know Us?🤔</h2>
        <p class="about">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus sapiente ipsam, autem enim ducimus id necessitatibus adipisci eum ea, architecto animi voluptatem? Vel consequuntur sequi, aspernatur esse debitis nemo maxime!
            Corrupti, sapiente! Id tempore, exercitationem ipsam ullam sed, vitae unde beatae vero amet praesentium cupiditate voluptatibus dolor? Et quos mollitia praesentium quisquam sequi consectetur, adipisci magnam maiores, reprehenderit expedita dignissimos!
            Molestiae, modi ex optio veritatis nesciunt atque illum aliquam! Provident dolorem aut tempore reiciendis, corporis quibusdam deleniti ab, blanditiis inventore modi illo voluptatibus sapiente eaque vel accusantium laudantium, suscipit saepe.
            Sint ab a, voluptatibus recusandae commodi autem aliquam similique explicabo voluptatem. Amet veniam pariatur nobis ullam at rem, suscipit dolore nemo eius repellendus similique quia tempore, sint, distinctio totam perferendis!
        </p>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>